<form #loginFormHTMLElement [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Connection</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username" value="username">
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
